.sb1{
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  margin: 20px 500px;
  font-family: algerian;}

.sb2{
  font-size: 20px;
  color: white;
  margin: 0px 0px;
  font-weight: 400;
}

 .Designed{
  font-size: 14px;
  color: #333; }


h3 {
  color: #333;
  }

.mb{
  color: transparent; 
  text-align: center; 
  animation: effect 10s linear infinite;}

  @keyframes effect {
  0%   {background-color:#55ACEE;-webkit-background-clip: text;}
  10%  {background-color:#3B5998;-webkit-background-clip: text;}
  20%  {background-color:#E1306C;-webkit-background-clip: text;}
  30%  {background-color:#007bb5;-webkit-background-clip: text;}
  40%   {background-color:pink;-webkit-background-clip: text;}
  50%  {background-color:grey;-webkit-background-clip: text;}
  60%  {background-color:yellow;-webkit-background-clip: text;}
  70%  {background-color:white;-webkit-background-clip: text;}
  80%   {background-color:orange;-webkit-background-clip: text;}
  90%  {background-color:skyblue;-webkit-background-clip: text;}
  100% {background-color:#55ACEE;-webkit-background-clip: text;}
} 
/*
img {
  	margin: 0 auto;
  	display: block;
  	margin-top: 10%;
	}*/

 .sb{
  height: 525px;
  width: 475px;
  margin: 20px 150px;
 } 

.site-hero {
  background-color: #888;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; 
  height: 90;
  min-height: 500px;
  position: relative;
}

footer{
  color: black;
  font-weight: 900;
  text-align: center;
  background-image: url(images/plain.png);
  margin: 0px;
}

.fa {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #E1306C;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}