/*.container{
text-align: center;
}*/

.site-hero {
  background-color: #888;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; 
  height: 90;
  min-height: 500px;
  position: relative;
}

img {
    margin: 10px auto;
    display: block;
  }

.sb{
  margin: 10px 10px 10px 10px;}

.sb1{
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-size: 50px;}

.sb2{
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: 400;
}

 .Designed{
  font-size: 14px;
  color: white; }

/*
 .sb{
  height: 525px;
  width: 475px;
  margin: 20px 150px;
 } */

.footer{
  /*color: #0B0213;*/
  color: white;
  font-weight: 900;
  text-align: center;
  margin: 0px;
  overflow: auto;
}

/*.footer {
  background-color: #888;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; 
  height: 50;
  min-height: 50px;
  position: relative;
  color: white;
  font-weight: 900;
  text-align: center;
  margin: 0px;
}
*/
.fa {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #E1306C;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}


.mb{
  color: transparent;
  animation: effect 10s linear infinite;}

  @keyframes effect {
  0%   {background-color:#55ACEE;-webkit-background-clip: text;}
  10%  {background-color:#3B5998;-webkit-background-clip: text;}
  20%  {background-color:#E1306C;-webkit-background-clip: text;}
  30%  {background-color:#007bb5;-webkit-background-clip: text;}
  40%   {background-color:pink;-webkit-background-clip: text;}
  50%  {background-color:grey;-webkit-background-clip: text;}
  60%  {background-color:yellow;-webkit-background-clip: text;}
  70%  {background-color:white;-webkit-background-clip: text;}
  80%   {background-color:orange;-webkit-background-clip: text;}
  90%  {background-color:skyblue;-webkit-background-clip: text;}
  100% {background-color:#55ACEE;-webkit-background-clip: text;}
} 